$white: #ffffff;
$black: #000000;

$dark_100: #121212;
$dark_200: #0e0e0e;

$grey_100: #868e96;
$grey_200: #c1c2c5;
$grey_300: #1a1b1e;
$grey_400: #373a40;
$grey_500: #adb5bd;
$grey_600: #2c2e33;

$blue_100: #1971c2;
